body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* Navbar */

.navbar {
  height: 5rem;
  background-color: #fafafa !important;
}

.fa-earth-americas {
  color: #2535be;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
  font-weight: 500 !important;
}

.search-btn {
  background-color: #2535be !important;
  color: white !important;
  border-radius: 25px !important;
  padding: 0 1rem 0 1rem !important;
}

.search-btn i {
  display: inline;
  margin-right: 0.5rem;
}

.search-input {
  border-radius: 25px !important;
  padding: 0.5rem 3rem 0.5rem 3rem !important;
  font-size: 1rem !important;
}
/* Footer */

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info {
  text-align: center;
  display: flex;
  height: 6rem;
  background-color: #ebebeb;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 0.8rem;
}

/* Cards */

.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400 !important;
}

.listing-link {
  text-decoration: none;
}

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

.add-btn,
.edit-btn {
  border: none !important;
  background-color: #2535be !important;
  color: white !important;
}

/* Show Page */

.show-img {
  height: 30vh;
}

.btns {
  display: flex;
}

.original-image {
  width: 250px;
}

/* Map */
#map {
  width: 119vh;
  height: 400px;
}

/* Category section */
#filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#filter::-webkit-scrollbar {
  width: 0;
}

.filter {
  text-align: center;
  margin-right: 2rem;
  margin-top: 2rem;
  opacity: 0.7;
}

.filter P {
  font-size: 2rem;
  text-wrap: nowrap;
}
.filter:hover {
  opacity: 1;
  cursor: pointer;
}
.filter p {
  font-size: 0.8rem;
}
.tax-info {
  display: none;
}
.tax-toggle {
  border: 1px solid black;
  border-radius: 1rem;
  height: 3.25rem;
  padding: 1rem;
  margin-left: 0;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
